#wrapper{
    width: 80%;
    background-color:rgba(138, 211, 224, 0.61);
    margin: 0 auto;
    padding: 2%;
}
body{
    background-color:lightgray;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}

#oben{
    background-image: url(./img/pic5.jpg);
    padding: 2%;
}
.bild > img{
    width: 12vw;
    height: 19vh;
    display: block;
    opacity: 0.3;
}
#row{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    margin-top: 10%;
    width: 90%;
    margin: 3% auto;
}
.bild{
    width: auto;
    height: auto;
    margin-left: 1%;
    margin-right: 1%;
}
h1{
    text-align: center;
    padding-top: 3%;
    font-size: 50px;
    text-decoration: underline solid black 2px;
}
#pic3 > img{
    box-shadow: 5px 5px 45px white;
    height: 22vh;
    width: 19vw;
    opacity: 1;
    border: 2px whitesmoke solid;
}
