@media screen and (max-width: 900px) {
    #row {
      flex-direction: column;
    }
    .test2{
        margin: 0 auto 0 auto;
    }
    #pic3{
        margin: 0 auto 0 auto;
    }
    .test{
        margin: 0 auto 0 auto;
    }
}
#wrapper{
    width: 1010x;
    background-color:rgba(0, 0, 0, 0.267);
    margin-top: 10%;
    padding: 2%;
}
body{
    background-image: url(../img/pexels-gdtography-911738-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}

#oben{
    background-image: url(./img/pic5.jpg);
    padding: 2%;
}
.bild > img{
    width: 20%;
    display: block;
    opacity: 0.3;
}
#row{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    margin-top: 10%;
    width: 90%;
    margin: 3% auto;
}
.bild{
    width: auto;
    height: auto;
}
h1{
    text-align: center;
    padding-top: 3%;
    font-size: 50px;
    text-decoration: underline solid black 2px;
}
#pic3 > img{
    box-shadow: 5px 5px 45px white;
    width: 90%;
    height: 80%;
    opacity: 1;
    border: 2px whitesmoke solid;
}
a{
    text-decoration: none;
    color: black;
    padding: 1.5%;
    margin-left: 25%;
}
a:hover{
    background-color: rgba(211, 211, 211, 0.623);
}


